@use 'base/variables/colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: colors.$grey-light1;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: colors.$grey-dark;
  margin-top: 60px;
  margin-bottom: 60px;
}
